<!DOCTYPE html>
<html lang="en">
<% include widget/header.ejs %>
<body style="max-height: 100vh !important; overflow: hinden !important;">
    <div class="wrapper">
      <% include widget/side-bar.ejs %>
      <% include widget/nav.ejs %>
      <% include metting-body.ejs %>
      <% include widget/footer.ejs %>
    </div>
        <% include widget/init-plugin.ejs %>
</body>
</html>