<!DOCTYPE html>
<html lang="en">
<% include widget/header.ejs %>
<body class="">
    <div class="wrapper">
      <% include widget/side-bar.ejs %>
      <% include widget/nav.ejs %>
      <% include tutor-detail-body.ejs %>
      <% include widget/footer.ejs %>
    </div>
        <% include widget/init-plugin.ejs %>
</body>
</html>