  </div>
</div>
<% if (title=="Messenger") { %>
<footer class="footer" style="display: none !important;">
<% } else{ %>
<footer class="footer">
<% } %>
<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">
              eTutoring
            </a>
          </li>
          <li>
            <a href="/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="/blog">
              Blog
            </a>
          </li>
          <li>
            <a href="/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
        document.write(new Date().getFullYear())
      </script>,
        made with <i class="material-icons">favorite</i> by
        <a href="" target="_blank">OreZ</a>
      </div>
    </div>
  </footer>
</div>