<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning
        card-header-icon">
        <div class="card-icon">
          <i class="material-icons">message</i>
        </div>
        <p class="card-category">Messenger</p>
        <h3 class="card-title"> <%= messengerCount %> 
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="javascript:;">Get More ...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success
        card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Metting room joined</p>
        <h3 class="card-title"><%= mettingCount %> </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i> Get More ...
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger
        card-header-icon">
        <div class="card-icon">
          <i class="material-icons">comment</i>
        </div>
        <p class="card-category">Comments</p>
        <h3 class="card-title"><%= commentCount %> </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">local_offer</i> Get More ...
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">cloud_upload</i>
        </div>
        <p class="card-category">Document uploaded</p>
        <h3 class="card-title"><%= documentCount %> </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Get More ...
        </div>
      </div>
    </div>
  </div>
</div>
